In [13]:
import ssl
import os
import pg8000

In [14]:
ssl_context = ssl.create_default_context()
ssl_context.check_hostname = False  # Disable hostname checking if needed
ssl_context.verify_mode = ssl.CERT_NONE  # Adjust verification mode as needed

In [15]:
# Connect to the database
conn = pg8000.connect(
    host=os.getenv('POSTGRES_HOST'),
    database=os.getenv('POSTGRES_DATABASE'),
    user=os.getenv('POSTGRES_USER'),
    password=os.getenv('POSTGRES_PASSWORD'),
    ssl_context=ssl_context
)

In [16]:
# Create a cursor
cur = conn.cursor()

# Start a transaction
cur.execute("BEGIN")

# Create the table
cur.execute("""
    CREATE TABLE IF NOT EXISTS test_table (
        id SERIAL PRIMARY KEY,
        name VARCHAR(50) NOT NULL,
        age INT,
        email VARCHAR(100) UNIQUE
    )
""")

# Insert data into the table
cur.execute("""
    INSERT INTO test_table (name, age, email)
    VALUES
        ('John Doe', 32, 'john.doe@example.com'),
        ('Jane Smith', 27, 'jane.smith@test.com'),
        ('Bob Johnson', NULL, 'bob@company.org'),
        ('Alice Williams', 45, 'alice@gmail.com')
""")

# Commit the transaction
cur.execute("COMMIT")

In [18]:
result = cur.execute('select * from test_table')

In [19]:
result.fetchall()

([1, 'John Doe', 32, 'john.doe@example.com'],
 [2, 'Jane Smith', 27, 'jane.smith@test.com'],
 [3, 'Bob Johnson', None, 'bob@company.org'],
 [4, 'Alice Williams', 45, 'alice@gmail.com'])